
@{
    ViewData["Title"] = "Matchmaking";
}
<h1>@ViewData["Title"]</h1>

<div class="col-4"><input type="text" id="userInput" value="@ViewData["username"]" disabled hidden /></div>
<div class="container">
    <div class="row">
        <div class="col-1">Room Name</div>
        <div class="col-4"><input style="width: inherit;" type="text" id="roomInput" /></div>
        <div class="col-2"><input type="button" id="startRoomButton" value="Create New Chatroom" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <select id="RoomID"></select>
        <input type="button" id="JoinButton" value="Join Chatroom" />
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div id="messagesListDiv" class="col-12" style="overflow-y: auto; height:300px;">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <input style="width: inherit;" type="text" id="messageInput" />
        </div>
        <div class="col-2">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<p class="game_area">
    <div id="start">
        <button onclick="NewGame();">Start 2 player</button>
    </div>
    <canvas id="game" width="200" height="400"></canvas>
</p>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/tetris-refactor.js"></script>
<script src="~/js/chatroom.js"></script>

