@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/pixi/pixi.min.js"></script>

<div class="text-center">
    <!--Welcome text-->
    <!--Jumbo tron from https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Single Player Tetro</h1>
        </div>
    </div>
    <p class="game_area">
        <div id="start">
            <button onclick="oneplayergame();">Start</button>
        </div>
        <canvas id="game" width="200" height="400"></canvas>
        <div id="scorecontainer"> Score: <p id="score">0</p></div>
        <script src="~/js/tetris-refactor.js"></script>
    </p>
</div>
