@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/pixi/pixi.min.js"></script>

<div class="text-center">
    <h1 class="display-4">TETRIS HERE</h1>
    <p class="game_area">
        <canvas id="game"></canvas>
        <script src="~/js/tetrominoes.js"></script>
        <script src="~/js/tetris.js"></script>
    </p>
</div>
