<!--
  Author:    Tetrominoes Team
  Date:      12/6/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Tetrominoes - This work may not be copied for use in Academic Coursework.

  We, Tetrominoes, certify that We wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
    Purpose: The purpose of this document is to supply a chatroom for just anyone
-->

@{
    ViewData["Title"] = "Messages";
}
<!DOCTYPE html>
<html>

    <!--Head of document-->
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="The High Scores of the Tetro Games" />
        <meta name="keywords" content="HTML, CSS" />
        <meta name="author" content="Tetrominoes Team" />
        <!--Used to change with size of device-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>High Scores</title>
    </head>
    <!--body of document-->
    <body>
        <!--Welcome text-->
        <!--Jumbo tron from https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">@ViewData["Title"]</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userInput" /></div>
            </div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </body>
</html>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
