<!--
  Author:    Tetrominoes Team
  Date:      12/6/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Tetrominoes - This work may not be copied for use in Academic Coursework.

  We, Tetrominoes, certify that We wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
    Purpose: The purpose of this document is have a single player page for tetrominoes
-->

@{
    ViewData["Title"] = "Single Player";
}

<script src="~/lib/pixi/pixi.min.js"></script>
<!DOCTYPE html>
<html>

    <!--Head of document-->
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Single Player" />
        <meta name="keywords" content="HTML, CSS" />
        <meta name="author" content="Tetrominoes" />
        <!--Used to change with size of device-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>High Scores</title>
    </head>
    <!--body of document-->
    <body>
        <div class="text-center">
            <!--Welcome text-->
            <!--Jumbo tron from https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Single Player Tetro</h1>
                </div>
            </div>
            <!--Game area for single player game-->
            <p class="game_area">
                <div id="start">
                    <button onclick="oneplayergame();">Start</button>
                    <!--<button onclick="twoplayergame();">Start 2 player</button>-->
                </div>
                <canvas id="game" width="200" height="400"></canvas>
                <div id="scorecontainer">
                    Score:
                <p id="score">0</p>
                </div>
                <script src="~/js/tetris.js"></script>
            </p>
        </div>
    </body>
</html>
